@use "../helpers/" as *;

header {
  .searchComp {
    position: relative;
    & .icon {
      color: $main-color;
      @include abs-y;
      left: 10px;
    }
    & .search {
      padding: 10px;
      text-align: right;
      width: 350px;
      outline-color: $main-color;
      border: 1px solid #ccc;
      border-radius: 6px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      &::placeholder {
        color: #ccc;
      }
    }
    & .selectItems {
      padding: 8px;
      border-radius: 6px;
      width: 100px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-color: $main-color;
      text-align: right;
      color: white;
      outline: $main-color;
      & option {
        background-color: white;
        color: black;
      }
    }
  }
  & .links {
    a {
      color: #444444e0;
      transition: $main-transition;
      &:hover {
        color: #f8a822;
      }
    }
  }
}
